In [1]:
import requests 
import pandas as pd
import json

In [2]:
file="gpu_STATS.csv"
with open(file) as f:
    df=pd.read_csv(f)

In [3]:
df.iloc[:,2]

0         1638546312692464
1         1638546312713295
2         1638546312735056
3         1638546312757224
4         1638546312778472
                ...
103359    1638546998320132
103360    1638546998537843
103361    1638546998755319
103362    1638546998968093
103363    1638546998968653
Name:  1638546312669585, Length: 103364, dtype: int64

In [4]:
df['date'] = pd.to_datetime(df.iloc[:,2],unit='us')

In [5]:
df.drop(columns=' 1638546312669585',inplace=True)

In [6]:
df.set_index("date",inplace=True)

In [7]:
df.columns

Index(['0', ' pwrDraw ', ' 289'], dtype='object')

In [8]:
df=df.pivot_table(index='date',columns=[' pwrDraw '],values=' 289')

In [9]:
import seaborn
seaborn.factorplot()

pwrDraw,decUtil,encUtil,gpuUtil,memUtil,pwrDraw,temp,violPwr,violThm
date,,,,,,,,
2021-12-03 15:45:12.669828,NaN,NaN,NaN,NaN,287.0,NaN,NaN,NaN
2021-12-03 15:45:12.691568,NaN,NaN,NaN,NaN,287.0,NaN,NaN,NaN
2021-12-03 15:45:12.692464,NaN,NaN,NaN,NaN,289.0,NaN,NaN,NaN
2021-12-03 15:45:12.713295,NaN,NaN,NaN,NaN,287.0,NaN,NaN,NaN
2021-12-03 15:45:12.717161,NaN,NaN,NaN,NaN,287.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-12-03 15:56:38.961187,NaN,NaN,NaN,NaN,NaN,NaN,6.852870e+11,NaN
2021-12-03 15:56:38.962239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2021-12-03 15:56:38.962792,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN
2021-12-03 15:56:38.968093,NaN,NaN,NaN,NaN,NaN,NaN,6.852954e+11,NaN
2021-12-03 15:56:38.968653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:
df.columns.droplevel()

ValueError: Cannot remove 1 levels from an index with 1 levels: at least one level must be left.

In [ ]:
df2=pd.DataFrame.from_dict(text["payments"])

In [ ]:
df2

In [ ]:
df2['date'] = pd.to_datetime(df2['timestamp'],unit='s')

In [ ]:
df2

In [ ]:
df2

In [ ]:
ax1=df.reward.groupby(df.index.day).sum().plot(label="rewards",color='r')
ax2=ax1.twinx()
df2.amount.groupby(df2.index.day).sum().plot(ax=ax2,label='payments')
ax1.legend(loc=0)
ax2.legend(loc=1)

In [ ]:
df.reward.groupby(df.index.day).sum().plot()